.orders-page {
    padding: 20px;
    background: #f4f6f9;
    min-height: 100vh;
}

.top-bar {
    margin-bottom: 20px;
}

.top-bar h1 {
    font-size: 28px;
}

.table-wrapper {
    background: white;
    border-radius: 10px;
    overflow-x: auto;
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #111827;
    color: white;
}

th,
td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f9fafb;
}

.paid {
    color: green;
    font-weight: bold;
}

.unpaid {
    color: red;
    font-weight: bold;
}

.status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    color: white;
}

.Pending {
    background: orange;
}

.Processing {
    background: blue;
}

.Shipped {
    background: purple;
}

.Delivered {
    background: green;
}

.Cancelled {
    background: red;
}

.view-btn {
    padding: 8px 14px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}